h2 {
  font-weight: 600;
  color: #2c3e50;
}

.form-group label {
  font-weight: 500;
}

button {
  margin-top: 10px;
}

button[disabled] {
  opacity: 0.7;
  cursor: not-allowed;
}

.login-logo {
  max-width: 330px; 
  height: auto;
}

.login-card {
  width: 100%;
  max-width: 400px; 
  border-radius: 15px;
  background: #fff;
}

.vh-100 {
  min-height: 100vh;
}

body {
  background: linear-gradient(135deg, #00FFB2 0%, #0099FF 100%) !important;
}

.login-btn {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  color: var(--text-light);
  font-weight: 600;
  transition: background 0.3s ease;
}

.login-btn:hover {
  background-color: var(--primary-color-hover) !important;
  border-color: var(--primary-color-hover) !important;
}





/* .login{max-width:360px;margin:10vh auto;padding:24px;border:1px solid #e5e7eb;border-radius:12px;background:#fff;box-shadow:0 4px 16px rgba(0,0,0,.06)}
.login h2{margin:0 0 12px 0}
.login label{display:flex;flex-direction:column;gap:6px;margin:8px 0}
.login input{padding:10px;border:1px solid #d1d5db;border-radius:8px}
.login button{width:100%;margin-top:12px;padding:10px;border:1px solid #d1d5db;border-radius:8px;background:#111827;color:#fff;cursor:pointer}
.error{margin-top:10px;color:#b91c1c}

.login-logo {
  max-width: 330px; 
  height: auto;
}

.login-btn {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  color: var(--text-light);
  font-weight: 600;
  transition: background 0.3s ease;
}

.login-btn:hover {
  background-color: var(--primary-color-hover) !important;
  border-color: var(--primary-color-hover) !important;
} */
