<div class="page">

  <h2>
    {{ categoryId ? 'Kategori Düzenle' : 'Yeni Kategori' }}
  </h2>

  <form [formGroup]="form" (ngSubmit)="submit()" class="form">

    <label>
      Başlık *
      <input type="text" formControlName="name">
    </label>

    <label>
      Açıklama
      <textarea rows="3" formControlName="description"></textarea>
    </label>

  <label>Katagori Görseli
      <input type="text" formControlName="icon">
  </label>

  <!-- <div class="image-picker" (click)="fileInput.click()">
    <img *ngIf="previewUrl" [src]="previewUrl" />
    <span *ngIf="!previewUrl">Resim Seç</span>
  </div>

  <input
    #fileInput
    type="file"
    accept="image/*"
    hidden
    (change)="onFileSelected($event)"
  /> -->

  <label class="checkbox">
      <input type="checkbox" formControlName="isActive">
      Aktif
    </label>

    <div class="actions">
      <button type="submit" class="btn primary" [disabled]="loading">
        Kaydet
      </button>

      <button type="button" class="btn" (click)="cancel()">
        Vazgeç
      </button>
    </div>

  </form>

</div>
