<div class="header">
  <h2>Şubeler</h2>
  <button class="btn-bootstrap-primary" (click)="addNew()">+ Yeni Şube</button>
</div>

<div *ngIf="loading" class="loading">Yükleniyor...</div>

  <table class="tbl" *ngIf="!loading">
  <thead>
    <tr>
      <th>Adı</th>
      <th>Durum</th>
      <th>İşlemler</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let b of branches">
      <td>{{ b.name }}</td>
      <td>
          <span [ngClass]="b.isActive ? 'badge-bootstrap-success' : 'badge-bootstrap-danger'" 
                class="px-3 py-1 rounded text-sm font-medium inline-flex items-center">
            {{ b.isActive ? 'Aktif' : 'Pasif' }}
          </span>
      </td>
      <td>
        <button class="btn-bootstrap-warning" (click)="toggleActive(b)">Aktif/Pasif</button>
        <button class="btn-bootstrap-info ml-2" (click)="edit(b)">Düzenle</button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #loadingTpl>Yükleniyor...</ng-template>
